body{
    padding:0;
    margin:0;
    min-height:100vh;
    background-color: azure;
    display: grid;
    grid-template-columns: 250px auto;
}

.sidebar{
    background-color:cornflowerblue;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
}

.sidebar>.list{
    list-style: none;
    margin: 0;
    padding: 5px;
    display: grid;
    gap: 15px;

}

.sidebar li{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: x-large;
}

.main-content{
    display: grid;
}
.user-screen{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    height:fit-content;
    display: grid;
    grid-auto-flow: column;
}

.user-screen>.user-left{
    display: grid;
    grid-auto-flow: row;
}

.user-screen>.user-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    align-items: flex-end;
    padding-right: 10px;
}

button{
    background-color:cornflowerblue;
    border-radius: 30px;
    width:100px;
    height: 50px;
    padding: 10px;
}

h2{
    padding: 10px;
}
.projects-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    grid-gap: 15px;
}

.projects-section>.projects{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.projects-section>.projects>h3{
    color: red;
    font-size:x-large;
}

.projects-section>.projects>p{
    font-size:large;
    font-weight: bold;
}

.projects-section>.projects>button{
    margin-left: 400px;
}